n8n/workflows/create-contact.json
{
  "name": "MiniCRM - Criar Contato",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contacts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "create-contact-wh"
    },
    {
      "parameters": {
        "jsCode": "function sanitize(str) { return String(str || '').replace(/'/g, \"''\"); }\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst body = $input.first().json.body;\nconst userId = $input.first().json.headers['x-user-id'];\n\nif (!userId || !uuidRegex.test(userId)) { throw new Error('userId inv\u00e1lido'); }\nif (!body || !body.name || body.name.trim() === '') { throw new Error('Campo nome \u00e9 obrigat\u00f3rio'); }\n\nreturn [{ json: { name: sanitize(body.name), email: sanitize(body.email || ''), phone: sanitize(body.phone || ''), userId } }];"
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000010",
      "name": "Validar e Extrair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"Contact\" (id, name, email, phone, \"userId\", \"createdAt\", \"updatedAt\") VALUES (gen_random_uuid(), '{{ $json.name }}', '{{ $json.email }}', '{{ $json.phone }}', '{{ $json.userId }}', NOW(), NOW()) RETURNING *",
        "options": {}
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000003",
      "name": "Inserir Contato",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres MiniCRM"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 201
        }
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000004",
      "name": "Responder 201",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=contacts:{{ $('Validar e Extrair').first().json.userId }}"
      },
      "id": "b1b2c3d4-2222-4000-8000-000000000005",
      "name": "Invalidar Cache",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [960, 480],
      "credentials": {
        "redis": {
          "id": "CONFIGURE_ME_REDIS",
          "name": "Redis MiniCRM"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar e Extrair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar e Extrair": {
      "main": [
        [
          {
            "node": "Inserir Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Contato": {
      "main": [
        [
          {
            "node": "Responder 201",
            "type": "main",
            "index": 0
          },
          {
            "node": "Invalidar Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
