n8n/workflows/list-contacts.json
{
  "name": "MiniCRM - Listar Contatos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "contacts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "list-contacts-wh"
    },
    {
      "parameters": {
        "jsCode": "const uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst userId = $input.first().json.headers['x-user-id'];\nif (!userId || !uuidRegex.test(userId)) { throw new Error('userId inv\u00e1lido'); }\nreturn [{ json: { userId } }];"
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000010",
      "name": "Validar userId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [370, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, email, phone, \"userId\", \"createdAt\", \"updatedAt\" FROM \"Contact\" WHERE \"userId\" = '{{ $json.userId }}' ORDER BY \"createdAt\" DESC",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000002",
      "name": "Buscar Contatos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres MiniCRM"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-1111-4000-8000-000000000003",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validar userId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar userId": {
      "main": [
        [
          {
            "node": "Buscar Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contatos": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
